__pycache__/
*.py[cod]
*.so

.env
.venv/
env/
venv/
ENV/

.idea/
.vscode/
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.nox/
.tox/
.coverage
.coverage.*
htmlcov/

build/
dist/
*.egg-info/

checkpoints/
results/
test_results/
result_long_term_forecast.txt
*.log

dataset/
data/
*.csv
